@import url(../../lib/font/hagstova.fo.nts/open-sans/font.css);






/* ----------------------------------------------------------------
	-- Calendar Page
-----------------------------------------------------------------*/


#outputDisseminationFrontPage{
    margin-top: 40px !important;
    margin-left: 3rem !important;
    font-weight: 400 !important;
    text-transform: none !important;
    text-align: left;
}


.calendarElementDesign {
    display: inline-block;
    height: 50px !important;
    width: 44px !important;
    background-color: #444444;
    color: #ffffff;
    vertical-align: top !important;
    text-align: center !important;
  }
  
  .calendarPageDesign {
    height: 50px !important;
    width: 46px !important;
  }
  
  .calendarElementDesignDay {
    margin-top: 9px !important;
    font-size: 20px !important;
  }
  
  .calendarElementDesignMonth {
    margin-top: -2px !important;
    font-size: 12px !important;
  }
  
  .calendarPageElementDesignMonth {
    font-size: 11px !important;
  }
  
  .calendarElementName {
    display: inline-block;
    height: 50px !important;
    line-height: 15px !important;
    padding-left: 10px !important;
  }
  
  .calendarElementName1 {
    text-align: left !important;
    padding-top: 8px !important;
    line-height: normal !important;
    height: 28px !important;
  }
  .calendarElementName2 {
    text-align: left !important;
    line-height: normal !important;
    height: 22px !important;
    font-size: 12px !important; 
  }
  
  .postPoned {
    color: #a20025;
    font-weight: 600 !important;
    font-size: 12px !important;
    margin-bottom: -2px !important;
  }
  
  .postPonedFrontpage {
    color: #a20025;
    font-size: 12px !important;
    font-weight: 600 !important;
    margin-bottom: -2px !important;
  }
  
  .rescheduled {
    color: #70a104;
  }
  
  .tableStatbankLinkCalendarLayout {
    margin-bottom: 5px !important;
  }
  
  .calendarElementName1 {
    font-size: 14px !important;
  }
  
  .calendarShowTable {
    float: right;
    font-size: 14px !important;
  }
  
  .cursortext {
    cursor: text !important;
  }
  







/* ----------------------------------------------------------------
	-- Highcharts Page
-----------------------------------------------------------------*/





.highcharts-container { 
    overflow: visible !important;
}

.highcharts-root {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

.MyDataLabelTooltip {
    position: relative !important;
    z-index: 50 !important;
    border-radius: 5px !important;
    background-color: rgba(0,0,0,0.5);
    padding: 5px !important;
    font-size: 0.8em !important;
    text-align: center;
}

.datetext {
    font-weight: 400 !important; 
    text-transform: lowercase;
}

h1{
    color: #FFF;
    font-size: 4em !important;
    font-family: 'Open Sans', sans-serif !important;
 
    font-weight: 800 !important; 
    text-transform: uppercase !important;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

h2{
    color: #FFF;
    font-size: 2em !important;
    font-family: 'Open Sans', sans-serif !important;
    position: relative;
    top: 0.8em !important;

    font-weight: 800 !important; 
    text-transform: uppercase !important;

}

p{
    color: #FFF;
    position: relative;
    top: 0.7em !important;    
    font-size: 0.4em !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important; 
    text-transform: none !important;
}





.highcharts-container{
    position: relative;
    top: 0.7em !important;      
} 

.logo{
    width: 1.4em;
    position: relative;
    top: 0.4em;
    right: 0.1em;
      -webkit-filter: drop-shadow(2px 2px 8px #222);
      filter: drop-shadow(2px 2px 2px #222);
}

.infobox {
    width: 960px;
    height: 500px;
    position:absolute;
}

.infobox .background,
.infobox.blue .background {
    z-index: -1000;
    background-color: rgba(0, 76, 128, 0.8);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.infobox.left {
    position:absolute;
    left: 0;
    height:500px;
    width:700px;
}

.infobox.right {
    position:absolute;
    right: 0;
    height:500px;
    width:700px;
}

/*.bluerectangle-right {
    height:500px;
    width:500px;
    position:absolute;
    left: 0;
    background-color: rgba(0, 76, 128, 0.8);
}

.bluerectangle-left {
    height:500px;
    width:500px;
    position:absolute;
    right: 0;
    background-color: rgba(0, 76, 128, 0.8);
}*/
